<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-FileCopyrightText: Copyright 2020 | CSI Piemonte
SPDX-License-Identifier: EUPL-1.2
-->
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://JAVA.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID"
	version="3.0">
	<display-name>SIAC FIN Application</display-name>

	<distributable />
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/*Context.xml</param-value>
	</context-param>

	<context-param>
		<param-name>remincl.resource.provider.rp</param-name>
		<param-value>${remincl.resource.provider}</param-value>
	</context-param>

	<context-param>
		<param-name>remincl.cache.time</param-name>
		<param-value>${remincl.cache.time}</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>Shibboleth filter</filter-name>
		<filter-class>it.csi.shibboleth.shibfilter.ShibbolethFilter</filter-class>
		<init-param>
			<param-name>IRIDE_ID_SESSIONATTR</param-name>
			<param-value>edu.yale.its.tp.cas.client.filter.user</param-value>
		</init-param>
		<init-param>
			<param-name>NO_CHECK_PAGE</param-name>
			<param-value>HomePage.do, sessionExpired.do, fatalError, notFoundError, Logout</param-value>
		</init-param>
	</filter>

	<!-- == mapping parametrico di CAS o Shibboleth == -->
	<filter-mapping>
		<filter-name>${sso.filter.name}</filter-name>
		<url-pattern>${sso.filter.url.pattern}</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>struts2</filter-name>
		<!-- <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class> -->
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>


	<jsp-config>
		<taglib>
			<taglib-uri>/display-tags</taglib-uri>
			<taglib-location>/WEB-INF/displaytag.tld</taglib-location>
		</taglib>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>